@charset "UTF-8";
:root {
  /* Step -2: 11.1111px → 12.8px */
  --step--2: clamp(0.6944rem, 0.6577rem + 0.1836vi, 0.8rem);
  /* Step -1: 13.3333px → 16px */
  --step--1: clamp(0.8333rem, 0.7754rem + 0.2899vi, 1rem);
  /* Step 0: 16px → 20px */
  --step-0: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
  /* Step 1: 19.2px → 25px */
  --step-1: clamp(1.2rem, 1.0739rem + 0.6304vi, 1.5625rem);
  /* Step 2: 23.04px → 31.25px */
  --step-2: clamp(1.44rem, 1.2615rem + 0.8924vi, 1.9531rem);
  /* Step 3: 27.648px → 39.0625px */
  --step-3: clamp(1.728rem, 1.4799rem + 1.2407vi, 2.4414rem);
  /* Step 4: 33.1776px → 48.8281px */
  --step-4: clamp(2.0736rem, 1.7334rem + 1.7011vi, 3.0518rem);
  /* Step 5: 39.8131px → 61.0352px */
  --step-5: clamp(2.4883rem, 2.027rem + 2.3067vi, 3.8147rem);
}

main {
  margin-top: 83.55px;
}
main > * > * {
  width: min(1336px, 93%);
  margin-inline: auto;
}

header {
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
}

footer .footer {
  width: min(1336px, 93%);
}

.hero {
  margin-block: 4em 7em;
}
.hero__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em 3.6em;
}
.hero__grid__container {
  display: flex;
  align-items: center;
  gap: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.162);
  padding-bottom: 1.5em;
}
.hero__grid__container__text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
.hero__grid__container__text__head {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  align-items: start;
}
.hero__grid__container__text__head__h3 {
  font-size: var(--step-0);
  font-weight: 400;
}
.hero__grid__container__text__head__p {
  font-size: var(--step--0);
  font-weight: 400;
}
.hero__grid__container__text__p {
  font-size: var(--step--1);
  font-weight: 300;
}
.hero__grid__container__img {
  width: 136px;
  height: 180px;
}
.hero > article > p {
  font-size: var(--step--1);
  letter-spacing: 0.5px;
  padding-left: 0.1em;
  margin-bottom: 0.1em;
  color: rgba(0, 0, 0, 0.689);
}
.hero > article > h2 {
  font-size: var(--step-4);
  font-weight: 400;
  width: min(760px, 95%);
  line-height: 67px;
  margin-bottom: 1.5em;
}

.menu {
  margin-bottom: 4em;
}
.menu__layout__h2 {
  font-size: var(--step-3);
  font-weight: 300;
  margin-bottom: 1.5em;
}
.menu__layout__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5em 3.6em;
}
.menu__layout__grid__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.162);
  padding-bottom: 2.5em;
}
.menu__layout__grid__container__text {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.menu__layout__grid__container__text__h3 {
  font-size: var(--step-0);
  font-weight: 400;
}
.menu__layout__grid__container__text__p {
  font-size: var(--step--1);
  font-weight: 300;
}
.menu__layout__grid__container__price__p {
  font-size: 1.15rem;
}

.reservation {
  height: 35em;
  margin-top: 7em;
  background: url("/Assets/Media/images/wide-waiter.jpg") no-repeat;
  background-size: cover;
  position: relative;
}
.reservation__container {
  background: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 28em;
  padding: 2em 3em;
  right: 10%;
}
.reservation__container__booking {
  display: grid;
  gap: 1em;
  margin-block: 2em;
}
.reservation__container__booking__text {
  display: grid;
  gap: 1.2em;
}
.reservation__container__booking__text__h2 {
  margin-bottom: 0em;
  text-align: center;
  font-size: var(--step-1);
}
.reservation__container__booking__text__p {
  margin-bottom: 0em;
}
.reservation__container__booking__form {
  margin-top: 2.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em 1.5em;
}
.reservation__container__booking__form .shop--btn {
  grid-column: span 2;
  position: relative;
  bottom: 0.6em;
  justify-self: end;
  cursor: pointer;
}
.reservation__container__booking__form__input {
  position: relative;
  border-bottom: 1px solid black;
  height: 2.5em;
}
.reservation__container__booking__form__input label {
  position: absolute;
  bottom: 10px;
  left: 0;
  transition: 0.2s ease;
  pointer-events: none;
  font-size: 0.925rem;
}
.reservation__container__booking__form__input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-transform: capitalize;
}
.reservation__container__booking__form__input .input:focus ~ label {
  bottom: 36px;
}
.reservation__container__booking__form__input .move-up {
  bottom: 36px;
}
.reservation__container__booking__form__input--text {
  grid-column: 1/3;
}
.reservation__container__booking__form__input--date img, .reservation__container__booking__form__input--time img {
  position: absolute;
  right: 0;
  bottom: 15px;
}

.popup {
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 20em;
  border: none;
  border-radius: 0.8em;
  margin-top: -2em;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.popup::backdrop {
  background: rgba(0, 0, 0, 0.292);
}
.popup__wrapper {
  padding: 1.7em 2em 2em;
  text-align: center;
  display: grid;
  justify-content: center;
  box-shadow: 2px 2px 4px #ffffff;
}
.popup__wrapper__container {
  justify-self: center;
  background: linear-gradient(275deg, #2a8a56, #34aa6c);
  border-radius: 50%;
  width: 4em;
  height: 4em;
  display: grid;
  place-items: center;
  margin-bottom: 1em;
}
.popup__wrapper__container__img {
  width: 2.3em;
  height: 2.3em;
}
.popup__wrapper__h2 {
  font-size: 2rem;
  font-weight: 300;
}
.popup__wrapper__p {
  margin-block: 1em 1.5em;
  font-size: 0.925rem;
  line-height: 20px;
}
.popup__wrapper__p .date,
.popup__wrapper__p .time {
  font-size: 0.85rem;
  font-weight: 600;
}
.popup__wrapper__btn {
  background-color: #ffffff;
  padding: 0.7em;
  width: 15em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: 1px solid black;
  margin-inline: auto;
}
.popup__wrapper__btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.dialog-open {
  opacity: 1;
  margin-top: 0;
  transition: 0.35s ease-in-out;
}

.feature {
  margin-block: 4em;
}
.feature__grid {
  display: flex;
  justify-content: space-between;
}
.feature__grid__container {
  display: flex;
  align-items: center;
  gap: 1.3em;
}
.feature__grid__container__text {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.feature__grid__container__text__h3 {
  font-size: var(--step-0);
  font-weight: 400;
}
.feature__grid__container__text__p {
  font-size: var(--step--1);
  font-weight: 300;
}

.collage__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: flex-start;
  width: 100%;
}
.collage__grid__wrapper {
  position: relative;
  width: 100%;
  height: 344.49px;
}
.collage__grid__wrapper:hover .collage__grid__wrapper__icon-container {
  transform: scale(1);
}
.collage__grid__wrapper__icon-container {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: grid;
  place-items: center;
  transform: scale(0);
  transform-origin: center;
  transition: 0.3s ease-in-out;
}
.collage__grid__wrapper__icon-container img {
  width: 1.4em;
  height: 1.4em;
}
.collage__grid__wrapper__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1100px) {
  .collage__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .collage__grid__wrapper__icon-container > img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (max-width: 1000px) {
  .menu__layout__grid {
    grid-template-columns: 1fr;
  }
  .hero__grid {
    grid-template-columns: 1fr;
  }
  .feature__grid {
    flex-direction: column;
    align-items: unset;
    gap: 3em;
  }
}
@media only screen and (max-width: 600px) {
  .collage__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .reservation__container {
    right: 0;
    left: 50%;
    top: 4em;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 450px) {
  .collage__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .reservation__container {
    width: 94%;
  }
}/*# sourceMappingURL=menu.css.map */