@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block: 4.8em;
}

body {
  display: grid;
}

ul {
  list-style-type: none;
  padding: 0;
}

header {
  z-index: 10000000000000000;
}

a {
  text-decoration: none;
}

.menu1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 35px;
  position: relative;
  cursor: pointer;
}
.menu1 span {
  display: inline-block;
  width: 100%;
  height: 1.7px;
  border-radius: 2em;
  background-color: #000000;
  transition: all 0.5s ease;
}

#active::after {
  transform: scaleX(1);
}

.shop--btn {
  font-size: 0.925rem;
  width: -moz-fit-content;
  width: fit-content;
  color: #000000;
  border: 1px solid black;
  border-radius: 1.5em;
  padding: 0.85em 1.5em;
  transition: 0.15s ease-in;
}
.shop--btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.section--title {
  font-size: 2.6rem;
  font-weight: 300;
}

.header__nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(1.2em - 5px) 3.5em;
}
.header__nav--mobile {
  display: none;
}
.header__nav ul {
  display: flex;
  gap: 2em;
}
.header__nav ul a {
  color: #000000;
  font-size: 0.925rem;
}
.header__nav ul li {
  position: relative;
}
.header__nav ul li::after {
  content: "";
  position: absolute;
  translate: 0% 21px;
  inset-inline: 5px;
  height: 1.5px;
  border-radius: 2em;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.2s ease-in-out;
}
.header__nav ul li:hover::after {
  transform: scaleX(1);
}

footer {
  background-color: #000000;
}
footer .footer {
  width: min(1400px, 95%);
  margin-inline: auto;
  padding-block: 6em 1em;
}
footer .footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  justify-content: space-between;
  padding-bottom: 3em;
  width: 100%;
}
footer .footer__grid::before {
  content: "";
  background-color: #9b9a96;
  position: absolute;
  inset-inline: 3px;
  bottom: 0;
  height: 0.1px;
  border-radius: 2em;
}
footer .footer__grid__subscribe {
  position: relative;
}
footer .footer__grid__subscribe__input {
  position: relative;
  border: 1px solid white;
  border-radius: 2em;
  height: 3.25em;
  width: 25em;
  margin-top: 1.2em;
}
footer .footer__grid__subscribe__input > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.3em;
}
footer .footer__grid__subscribe__input__btn {
  background-color: white;
  border: 1px solid white;
  width: 9.3em;
  padding-block: 0.7em;
  text-align: center;
  border-radius: 2em;
  position: absolute;
  right: 5px;
  inset-block: 4.5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
footer .footer__grid__subscribe__input__btn:hover {
  background-color: transparent;
  color: white;
}
footer .footer__grid__subscribe__input__text {
  border: none;
  outline: none;
  background: none;
  position: absolute;
  inset: 0 9.75em 0 0;
  padding-left: 4em;
  color: #ffffff;
}
footer .footer__grid__subscribe__input__text::-moz-placeholder {
  color: #ffffff;
}
footer .footer__grid__subscribe__input__text::placeholder {
  color: #ffffff;
}
footer .footer__grid__link {
  justify-self: center;
  display: grid;
  gap: 0.7em;
}
footer .footer__grid__link a {
  color: white;
  font-size: 0.925rem;
}
footer .footer__grid__location {
  justify-self: center;
  margin-right: -1em;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  width: 100%;
}
footer .footer__grid__location li {
  color: white;
  font-size: 0.925rem;
}
footer .footer__grid__location__address {
  line-height: 30px;
}
footer .footer__grid__link-about {
  display: grid;
  gap: 0.7em;
  justify-self: center;
}
footer .footer__grid__link-about a {
  color: white;
  font-size: 0.925rem;
}
footer .footer__social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.3em;
}
footer .footer__social-media__p {
  color: #9b9a96;
  font-size: 0.925rem;
  text-align: center;
}
footer .footer__social-media__container {
  display: flex;
  gap: 1em;
}
footer .footer__social-media__container__icons {
  border: 1px solid #9b9a96;
  display: grid;
  place-items: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  position: relative;
}
footer .footer__social-media__container__icons::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scale(0);
  background-color: #ffffff;
  border-radius: inherit;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
footer .footer__social-media__container__icons svg {
  position: relative;
  z-index: 1;
}
footer .footer__social-media__container__icons:hover::before {
  transform: scale(1);
}
footer .footer__social-media__container__icons .fill path {
  transition: 0.3s ease-in-out;
}
footer .footer__social-media__container__icons .stroke g {
  transition: 0.3s ease-in-out;
}
footer .footer__social-media__container__icons:hover .fill path {
  fill: black;
}
footer .footer__social-media__container__icons:hover .stroke g {
  stroke: black;
}

@media only screen and (max-width: 1100px) {
  footer .footer__grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4em;
  }
  footer .footer__grid__subscribe {
    grid-column: span 3;
  }
  footer .footer__grid__subscribe__input {
    width: 90%;
  }
  footer .footer__grid__link {
    justify-self: unset;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  footer .footer__grid__link-about {
    justify-self: unset;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  footer .footer__grid__location {
    justify-self: unset;
    grid-row: 2/3;
    grid-column: 3/4;
  }
}
@media only screen and (max-width: 1000px) {
  nav.header__nav--desktop {
    display: none;
  }
  nav.header__nav--mobile {
    display: flex;
  }
  nav.header__nav--mobile ul {
    border-top: 1px solid #9b9a96;
    position: absolute;
    z-index: 999999;
    flex-direction: column;
    align-items: center;
    gap: 0;
    background: white;
    top: 77.2px;
    max-height: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    overflow: hidden;
  }
  nav.header__nav--mobile ul > div {
    margin-block: 0.7em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav.header__nav--mobile ul li {
    margin-block: 1em;
  }
  nav.header__nav--mobile ul li::after {
    display: none;
  }
  nav.header__nav--mobile ul li:last-child {
    margin-bottom: 1em;
  }
  nav.header__nav--mobile .active {
    max-height: 50em;
    pointer-events: fill;
    transition: 0.5s ease-in-out;
  }
}
@media only screen and (max-width: 650px) {
  #footer .footer {
    padding-block: 4em 2em;
  }
  #footer .footer__social-media {
    flex-direction: column;
    gap: 1em;
  }
  #footer .footer__grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4em;
    padding-bottom: 2.3em;
  }
  #footer .footer__grid__subscribe {
    grid-column: span 3;
  }
  #footer .footer__grid__subscribe__input {
    width: 100%;
  }
  #footer .footer__grid__link {
    justify-self: unset;
    grid-row: 2/3;
    grid-column: 1/4;
  }
  #footer .footer__grid__link-about {
    justify-self: unset;
    grid-row: 3/4;
    grid-column: 1/4;
  }
  #footer .footer__grid__location {
    justify-self: unset;
    grid-row: 4/5;
    grid-column: 1/4;
  }
}
@media only screen and (max-width: 500px) {
  nav.header__nav {
    padding-inline: 1.7em;
  }
  .menu1 {
    height: 20px;
    width: 30px;
  }
  .menu1 span {
    width: 100%;
    height: 1.7px;
  }
  .menu1 .line1-45deg {
    transform: rotate(45deg);
    translate: 0 9px;
  }
  .menu1 .line2-opacity {
    translate: -15px 0;
    opacity: 0;
  }
  .menu1 .line3-45deg {
    transform: rotate(-45deg);
    translate: 0 -9px;
  }
}
@media only screen and (max-width: 400px) {
  .section--title {
    font-size: 2rem;
  }
  .features__grid__text__h2 {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 1em;
  }
}
.line1-45deg {
  transform: rotate(45deg);
  translate: 0 11.5px;
}

.line2-opacity {
  translate: -15px 0;
  opacity: 0;
}

.line3-45deg {
  transform: rotate(-45deg);
  translate: 0 -11.5px;
}/*# sourceMappingURL=shared.css.map */